header{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    padding:40px 80px;
    background-size: cover;
}

.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
body, head, footer{
    margin:auto;
    max-width: 1440;
    height: 700;
}
  .navigations{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    font-size: 34px;
    font-weight:bolder;
    color: #4E47FF;
  }
  .btn{
    background-color:#4E47FF;
    font-weight: bold;
    font-size: 16px;
    color:white;
    padding: 12px 36px;
    border-radius: 5px;
    border:none;
    cursor: pointer; 
  }
  .btn:hover{
    background-color: blue;
  }
  .text-center{
    text-align: center;
    align-items: center;
  }
  .middle-title{
    font-size: 65px;
    font-weight: bold;
    color:#252432;
    margin-bottom: 20;
    margin-bottom: 30px;
  }
  main{
    padding:40px 80px;
  }
  .submain-title{
    font-size:42px ;
    font-weight:bold ;
    color:#252432;
  }
  .submain-details{
    font-size:24px ;
    font-weight: normal;
    color: #252432 50%;
  }
  .main-one-image{
    width: 680px;
  }
  .submain{
    text-align: left;
    justify-items: auto;
  }
  .main-one{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-title{
    display: flex;
    justify-content: space-around;

  }
  .user{
    margin: 137 auto;
    padding: 120px;
    background-color:#dbdaf0;
    border-radius: 10px;
  }
  .user-title{
    font-size: 38px;
    font-weight: bold;
    color:#252432
  }
  .count{
    font-size:80px;
    font-weight:bold;
    color: #4E47FF
  }
  .name{
    font-size:20px;
    font-weight:normal;
    color:#000000
  }
  .cards{
    display: flex;
    justify-items: left;
  }
  .review-title{
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
    color:#252432
  }
  .cards-details{
    justify-items:left;
    justify-content: space-around;
    padding: 20px;
    gap:4px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    
  }
  .reviewer{
    display:flex;
  }
  .card-detail{
    justify-content: left;
    color: #1E1E1E;
    
    
  }
  .user-review{
    justify-items: center;
    justify-content: space-around;
  }
  .card-title{
    color:#1E1E1E;
    font-size: 24px;
    font-weight: 600;
  }
  .reviewer-name{
    color:#757575;
    text-align: left;
  }
  .main2{
    align-items: center;
    align-content: center;
    background-color: #faf4f4;
  }
  .main2-head{
    color:#000000;
    font-size: 50px;
    font-weight: bold;
  }
  .main2-image{
    border-radius: 40px;
  }
  .main3{
    display:flex;
    justify-content:space-between;
    padding: 40px;
    background-color: #dbdaf0;
    margin:auto;
    height: auto;
  }
  .main3-title{
    font-size: 97px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  .main3-form{
    width: 500px;
    gap: 19px;
    align-items: center;
    justify-items: center;
    justify-content: center;

  }
  .main3-form input{
    width: 500px;
    padding: 20px;
    font-size: 16px;
  }
  .login{
    margin: 19px;
    width: 500px;
    height: 700px;;
    align-items:center;
    justify-items: center;
    padding: auto 150px;
  }
  section{
    width: 100%;
    max-width: 1400;
    margin: auto;
    padding: 80px 40px
  }
  .inside{
    background-color: rgb(246, 237, 237);
    border-radius: 5px;
  }
  .titles{
    font-size: 18px;
    font-weight: 600;
  }
  .footer{
    align-content: center;
    padding: 20px;
  }
  .footer-head{
    font-size: 100px;
    font: weight 900px;;
  }
  .footer-p{
    color:#8987A1
  }
  .footer-ul{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
  }
  footer ul li{
    justify-content: space-around;
    margin-right: 20px;
  }
  .footer-ul a{
    text-decoration: none;
    color:#8987A1
  }
  